<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
	
	
	<bean class="org.test.action.StudentAction" id="studentaction">
		<property name="studentservice" ref="studentservice"></property>
	</bean>
	
	

	<bean class="org.test.service.impl.StudentService"  id="studentservice">
		<property name="studentdao" ref="studentdao"></property>
	</bean>
	
	
	<bean class="org.test.dao.impl.StudentDao4Mysql"  id="studentdao">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	 
</beans>